* {
    font-family: "helvetica nenu", helvetica, arial;
    border: 1px solid black
}

;
.container {
    margin: 0 auto;
    width: 1120px;
}

.container-fluid {
    width: 100%;
}


/* 
header {
    color: rgb(211, 207, 207);
    background-color: rgb(23, 12, 85);
} */

.div-gradient {
    padding: 12px;
    height: 80px;
    line-height: 35px;
    color: rgb(226, 226, 245);
    background: linear-gradient(90deg, rgba(28, 21, 67, 0.4)0%, rgba(0, 0, 57, 1)100%);
    background: -moz-linear-gradient(90deg, rgba(28, 21, 67, 0.4)0%, rgba(0, 0, 57, 1)100%);
    background: -webkit-linear-gradient(90deg, rgba(28, 21, 67, 0.4)0%, rgba(0, 0, 57, 1)100%);
    background: -o-linear-gradient(90deg, rgba(28, 21, 67, 0.4)0%, rgba(0, 0, 57, 1)100%);
}

.cho {
    background: rgba(1, 5, 53, 0.85);
    height: 50px;
}

header {
    background: rgb(17, 8, 70);
}


/* @media screen and (max-width:720px) { */

nav {
    /* padding: 10px; */
    height: 876px;
    /* border: 1px solid; */
    background-image: url(../images/chelsea.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    background: rgba(19, 18, 18, 0.6);
}


/* 

.main {
    border: 2px solid red;
}

.box {
    background-color: black;
    color: white;
} */